{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<style>
    .mb-3,
    .btn-primary {
        margin: 30px;
    }
</style>
<img src="/static/logo.png" style="width: 300px;">
<form action="{{ url_for('register') }}" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
            placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password1" name="confirmation" placeholder="Password"
            type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="team_name" name="team_name" placeholder="FTC's Team name">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
<p style="margin-bottom: 0px;">Already have an account</p>
<a class="btn btn-primary" href="/login" style="margin-top: 10px;">Log in</a>
{% endblock %}